
table {
    border-collapse: collapse;
    width: 60%;
    margin-top: 10px;
    border: 1px solid black;
}

thead tr {
    background-color: #FF0000; 
    color: #ffffff; 
}


thead th {
    color: #FF0000; 
    padding: 8px 12px;
    border: 1px solid black;
}

tbody td:first-child {
    background-color: #009999;
    color: white;
    padding: 8px 12px;
    border: 1px solid black;
}

tbody td {
    padding: 8px 12px;
    border: 1px solid black;
    text-align: center;
}

h3 {
    padding-bottom: 5px;
    text-align: center;
}