body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #fafafa;
    color: #333;
}

h2 {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #555;
    padding: 8px 12px;
    text-align: left;
}

th {
    background-color: #928f8f;
    color: rgb(0, 0, 0);
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

tbody td {
    color: #222;
}